.arimo-unique-class {
  font-family: "Arimo", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

html,
body {
  background-repeat: no-repeat;
  background-size: 100%;
  font-family: "Arimo", sans-serif;
  color: white;
  margin: 0;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #ffcb13;
  border-radius: 10px;
  width: 8px;
  padding: 5px;
}

::-webkit-scrollbar-track {
  background-color: #000000;
}

.amarelo {
  color: #ffcb13;
}

.azul {
  color: #006feb;
}

.vermelho {
  color: #e90100;
}

.forte {
  font-weight: lighter;
}

.fundo {
  height: 100%;
  width: 100%;
}

#home {
  background-image: url(../assets/banner1.jpg);
  background-size: cover;
  margin: top;
  background-repeat: no-repeat;
}

nav {
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  width: 100%;
  height: 12.5vh;
  flex-direction: row;
  justify-content: space-around;
  font-weight: 400;
  font-size: 14pt;
  align-items: center;
  backdrop-filter: blur(3px);
  box-shadow: 0 2px 8px 0 rgba(48, 48, 48, 0.34);
  position: fixed;
  top: 0;
  z-index: 3;
}

nav ul {
  list-style: none;
  padding: 0;
  font-weight: 500;
}

nav ul li {
  display: inline-block;
  transition: transform 0.3s;
}

nav ul li:hover {
  transform: scale(1.05);
}

nav a {
  color: #ffffff;
  text-decoration: none;
}

nav a:hover {
  color: #ffffff;
}

ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 0;
}

nav li {
  margin-right: 50px;
}

nav button {
  margin-right: 0px;
}

nav a {
  color: #ffffff;
  text-decoration: none;
  transition: color 0.3s, transform 0.3s;
}

nav img {
  height: 100px;
}

.nav_botao {
  display: flex;
  flex-direction: row;
}

#button_entrar {
  height: 7vh;
  width: 10vw;
  border-radius: 10px;
  border: none;
  color: #000000;
  background-color: #ffcb13;
  font-size: 14pt;
  cursor: pointer;
  transition: background-color 0.7s ease, color 0.7s ease;
}

#button_entrar:hover {
  color: #ffffff;
  background-image: linear-gradient(to center, #ffcb13, #342b0b);
}

.container {
  background-image: url(../assets/imgs/banner.jpg);
  opacity: 100;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  font-size: 26pt;
  background-color: rgba(0, 0, 0, 0);
}

#div_seta {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
}

#div_seta img {
  display: flex;
  justify-content: center;
  align-self: center;
  height: 7vh;
  margin-bottom: 8vh;
  animation: slideDown 1.4s ease forwards 2s,
    arrowTransition 2s ease-in-out infinite 2s;
}

@keyframes arrowTransition {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(16px);
  }

  100% {
    transform: translateY(0);
  }
}

.container h1 {
  color: #ffffff;
}

.caixa {
  margin-top: 20vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background-color: transparent;
  height: 100%;
  width: 45%;
  font-size: 18pt;
}

.caixa h1 {
  margin-left: 5vw;
  text-align: left;
}

.caixa span {
  text-decoration: underline;
  text-decoration-color: #ffcb13;
}

.div_sistemaDeAnalise {
  margin-top: 14vh;
  padding-top: 21vh;
  height: 60vh;
  display: flex;
  flex-direction: row;
  margin-inline: 15vh;
  justify-content: space-between;
}

#div_caixaTexto {
  width: 50%;
  color: #000000;
}

#div_caixaTexto h1 {
  font-size: 22pt;
  color: #000000;
}

#div_caixaTexto p {
  font-size: 14pt;
}

#div_caixaImagem {
  margin-left: 100px;
  width: 50%;
}

#div_caixaImagem img {
  height: 45vh;
}

#div_saberMais {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5vw;
}

.elipse {
  z-index: 0;
  width: 100%;
  height: 27vh;
  background-color: #ffffff;
  border-radius: 0% 0% 48rem 48rem;
  position: absolute;
}

.div_beneficios {
  height: 90vh;
  width: 100%;
  z-index: 2;
  background-color: #06050d;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.div_beneficios h1 {
  z-index: 2;
  font-size: 24pt;
  text-decoration: underline;
  color: #000000;
  text-decoration-color: #ffcb13;
}

.div_caixaBeneficio {
  display: flex;
  flex-direction: row;
  gap: 1vw;
}

.div_conteinerBeneficio {
  z-index: 2;
  background-color: #17141d;
  height: 55vh;
  width: 20vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
}

.div_conteinerBeneficio img {
  height: 100px;
  width: 100px;
}

.div_beneficiosTexto {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 80%;
}

#sobre_nos {
  background-image: url(assets/imgs/fundoSobreNos.png);
  width: 100vw;
  height: 100% !important;
}

.div_sobre_nos h1 {
  font-size: 24pt;
  text-decoration: underline;
  text-decoration-color: #ffcb13;
}

.div_sobre_nos {
  height: auto !important;
  width: 100%;
  z-index: 2;
  background-color: #06050d;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 2rem;
}

.div_sobre_nos h1 {
  font-size: 24pt;
  text-decoration: underline;
  text-decoration-color: #ffcb13;
}

.quadradoSobre {
  height: 80vh;
  width: 62vw;
  background: black;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.imgAlianza {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #17141d;
  display: flex;
  align-items: center;
  gap: 6vh;
}


.imgAlianza img {
  width: 70%;
  height: 80%;
  object-fit: cover;
  margin-right: 5vh;
  border-radius: 15px;
}

.vector-img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 161%;
  height: 29vh;
}

.vector-img3 {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 161%;
  height: 50vh;
}

.div_contato {
  height: 45vh;
  background-color: #252525;
  width: 100vw;
  display: flex;

  align-items: center;
  flex-direction: row;
  gap: 25vh;
}

.div_contato h3 {
  font-size: 18pt;
  text-decoration: underline;
  text-decoration-color: #af8902;
  margin: 0;
}

.coluna1 {
  display: flex;
  flex-direction: column;
  height: 35vh;
  width: 17vw;
}

.coluna1 img {
  width: 4vw;
  height: 7vh;
  display: flex;
}

.redesSociais {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 2vh;
  margin-top: 3vh;
}



.coluna2 {
  display: flex;
  flex-direction: column;
  height: 35vh;
  width: 17vw;
}

.coluna2 img {
  width: 3vw;
  height: 5vh;
}

.imgTexto {
  margin-top: 3vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 2.5vh;
}

.coluna3 {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  gap: 10px;
}

.form {
  display: flex;
  gap: 1.5vh;
  flex-direction: column;
  margin: 0 !important;
}

.form input {
  background-color: #565656;
  width: 21vw;
  color: white;
}

.inputMsg {
  height: 7vh;
}

.form button {
  width: 100%;
  background-color: #af8902;
  height: 5vh;
  color: white;
  cursor: pointer;
  font-size: 1.2rem;
}

.inputEmail {
  height: 4vh;
}

.alinhamento {
  display: flex;
  align-items: center;
  gap: 1.5vh;
}

.alinhamento img, .redesSociais{
  width: 35px;
  height: 35px;
  filter: invert(0.5);
}

.fundoSobreNos {
  position: absolute;
  width: 100vw;
  height: 66vh;
}

.imgAlianza p {
  width: 50vw;
  font-size: 27px;
  margin-left: 3vh;
}

@media (max-width: 600px) {
  body {
  }

  .nav {
    display: none;
  }

  #button_entrar {
    height: 5vh;
    width: 30vw;
  }

  nav img {
    height: 70px;
  }

  nav {
    height: 9vh;
  }

  .container {
    opacity: 100;
    height: 100vh;
    width: 100vw;
    background-image: url(../assets/imgs/banner.jpg);
  }

  #div_caixaImagem {
    display: none;
  }

  #div_caixaTexto {
    width: 90vw;
    color: #000000;
  }

  #div_saberMais {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5vw;
  }

  #div_caixaTexto p {
    font-size: 14pt;
    width: 18rem;
  }

  .div_sistemaDeAnalise {
    margin-top: 0;
    padding-top: 0;
    height: 60vh;
    display: flex;
    flex-direction: row;
    margin-inline: 0;
    justify-content: center;
    align-items: center;
  }

  .elipse {
    display: none;
  }

  .div_beneficios h1 {
    z-index: 2;
    font-size: 24pt;
    text-decoration: underline;
    color: #fff;
    text-decoration-color: #ffcb13;
  }

  .div_caixaBeneficio {
    display: flex;
    flex-direction: column;
    gap: 1vw;
  }

  .div_conteinerBeneficio {
    z-index: 2;
    background-color: #17141d;
    height: 40vh;
    width: 80vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    margin-top: 10px;
  }

  .div_beneficios {
    height: fit-content;
    width: 100%;
    z-index: 2;
    background-color: #06050d;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .imgAlianza {
    flex-direction: column;
    gap: 0;
  }

  .quadradoSobre {
    height: 68vh;
    width: 94vw;
    background: black;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .div_sobre_nos {
    height: auto;
    width: 100%;
    z-index: 2;
    background-color: #06050d;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding-bottom: 2rem;
  }

  .imgAlianza p {
    width: 88%;
    font-size: 21px;
    margin-left: 3vh;
  }

  .imgAlianza img {
    width: 70vw;
    height: auto !important;
    object-fit: cover;
    margin-right: 0;
    border-radius: 15px;
  }

  .coluna1,
  .coluna2 {
    display: none;
  }

  .div_contato {
    height: 45vh;
    background-color: #252525;
    width: 100vw;
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 0;
  }

  .coluna3 {
    display: flex;
    flex-direction: column;
    height: 35vh;
    width: 100vw;
  }

  .form {
    display: flex;
    gap: 1.5vh;
    flex-direction: column;
    margin-top: 2vh;
    align-items: flex-start;
    margin-left: 2vh;
  }

  .form input {
    background-color: #565656;
    width: 90vw;
    color: white;
  }

  .form button {
    width: 52vw;
    background-color: #af8902;
    height: 5vh;
    color: white;
    cursor: pointer;
    font-size: 1.2rem;
  }
}
