*{
    margin: 0;
    padding: 0;
 
}


.containerPrincipal{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}


.container-login {
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #b9b9b9;
}


.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

label {
    font-weight: bold;
    margin-bottom: 5px;
    color: #ffffff;
    font-size: 17px;
}


input[type="text"],
input[type="password"], input[type="number"] {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 5px;
    outline: none;
    transition: border-color 0.3s;
}

input[type="text"]:focus,
input[type="password"]:focus {
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.loginCorreto {
    width: 100%;
    padding: 12px;
    font-size: 16px;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}


.loginCorreto:hover {
    background-color: #0056b3;
}

.cadastrarEmpresaCSS{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 1.5vh;
}

.container-cadastrar h1{
    margin: 1vh;
}

.container-cadastrar{
    display: block;
    margin-bottom: 40px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
    border: 4px #007bff;
    background-color: #b9b9b9;
    border-radius: 10px;
    padding: 1.5rem;
    background: #b9b9b9;
    color: white;
}



.selects {
    display: flex;
    gap: 10px; 
}

.cadastrarEmpresaCSS button[type="submit"] {
    margin-top: 20px; 
}

.gerarCodigo{
    width: 100%;
    padding: 12px;
    font-size: 16px;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}