/* Copie daqui até... */
body {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    color: white;
    background-color: #17141d;
}

#menu {
    position: fixed;
    top: 0;
    left: -19vw;
    /* Começa fora da tela */
    width: 19vw;
    height: 100%;
    background: #06050d;
    color: #ffffff;
    transition: left 0.3s ease;
    /* Animação suave */
    z-index: 1000;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
}

#menu a{
    text-decoration: none;
    color: #ffffff;
}

#menu ul {
    list-style: none;
    padding-left: 2.5vw;
    height: 30vh;
    margin-top: 13vh;
    }


#menu ul li {
    margin: 25px 0;
}

#imgCloseButton img{
    height: 10px;
}

#menu.open {
    left: 0;
    /* Move para dentro da tela */
}

#div-fechar-menu{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1.5vw;
    height: 12vh;
}

.imgMenu{
    height: 7vh;
}

#imgLogo{
    height: 4.5vh;
}

#div-usuario{
    height: 15vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2vw;
}

#div-usuario p {
    font-weight: bolder;
}
   
#img-usuario{
    height: 50px;
    width: 50px;
    border-radius: 50px;
    background-color: blue;
}

#div-configuracao{
    padding-top: 5vh;
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;

}

#div-configuracao img{
    height: 5vh;
}

#caixa-config{
    height: fit-content;
    width: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1.5vw;

}

#div-nav{
    height: 12vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0px 30px 0px 25px;
}

#caixa-nav{
    display: flex;
    flex-direction: row;
    height: 100%;   
    align-items: center;
    gap: 8vw;
}

#caixa-nav h1{
    font-size: 15pt;
}
/* ...Aqui, para pegar o menu e a "navzinha" */

#div-kpis{
    height: 35vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 3vw;
    align-items: center;
}

.kpi{
    height: 25vh;
    width: 16vw;
    color: #000000;
    font-weight: bold;
    background-color: #d9d9d9;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.titulo-kpi{
    height: 10vh;
    margin: 4px 14px 4px 14px;
    text-align: center;
}

.info-kpi{
    height: 25vh;
    text-align: center;
    font-size: 48pt;
}

#div-grafico{
    display: flex;
    flex-direction: row;
    height: 48vh;
    justify-content: center;
    align-items: center;
    gap: 3vw;
}

#grafico{
    height: 50vh;
    width: 50vw;
    background-color: #dbd0c8;
}

#info-grafico{
    height: fit-content;
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.legenda-grafico{
    height: 5vh;
    width: 2.5vw;
    border-radius: 5px;
}

#cor-legenda-atrasos{
    background-color: #dd8d54;
}

#cor-legenda-pontuais{
    background-color: #619bcc;
}

#div-legenda-atrasos, #div-legenda-pontuais{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    gap: 2vw;
}