/* Copie daqui até... */
body {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    color: white;
    background-color: #17141d;
}

#menu {
    position: fixed;
    top: 0;
    left: -19vw;
    /* Começa fora da tela */
    width: 19vw;
    height: 100%;
    background: #06050d;
    color: white;
    transition: left 0.3s ease;
    /* Animação suave */
    z-index: 1000;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
}

#menu a{
    text-decoration: none;
    color: #ffffff;
}

#menu ul {
    list-style: none;
    padding-left: 2.5vw;
    }

#menu ul li {
    margin: 25px 0;
    cursor: pointer;
}

#imgCloseButton img{
    height: 10px;
}

#menu.open {
    left: 0;
    /* Move para dentro da tela */
}

#div-fechar-menu{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1.5vw;
    height: 12vh;
}

.imgMenu{
    height: 7vh;
    cursor: pointer;
}

#imgLogo{
    height: 4.5vh;
}

#div-usuario{
    height: 15vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2vw;
}

#div-usuario p {
    font-weight: bolder;
}
   
#img-usuario{
    height: 50px;
    width: 50px;
    border-radius: 50px;
    background-color: blue;
}

#div-configuracao{
    padding-top: 5vh;
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;

}

#div-configuracao img{
    height: 5vh;
}

#caixa-config{
    height: fit-content;
    width: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1.5vw;
    cursor: pointer;
}

#div-nav{
    height: 12vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0px 30px 0px 25px;
   
}

#caixa-nav{
    display: flex;
    flex-direction: row;
    height: 100%;   
    align-items: center;
    gap: 8vw;
}

#caixa-nav h1{
    font-size: 15pt;
}

/* ...Aqui, para pegar o menu e a "navzinha" */
.div-select-ano {
    height: 5vh;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 1vw;
    margin: 1vw 6.4vw 0vw 6.4vw;
}

.select-wrapper {
    position: relative;
    width: 5vw;
}

.select-ano {
    width: 100%;
    height: 4vh;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    text-align: center;
    border-radius: 5px;
    font-size: 16px;
    color: #333;
    cursor: pointer;
    padding-right: 20px; /* Para dar espaço ao ícone */
}

/* Adicionando o ícone de seta no select */
.select-wrapper::after {
    content: '\1F87B'; /* Triângulo para o ícone */
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
    font-size: 12px;
    color: #333;
}


#container{
    height: 80vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.coluna{
    height: 35vh;
    width: 100vw;
    height: 45%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2.5vw;
}

.caixa{
    height: 27vh;
    width: 12.5vw;
    border-radius: 20px;
    background-color: #d9d9d9;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.h1{
    height: 7vh;
}

.h1 h1{
    font-size: 1.5vw;
    color: #06050d;
    font-weight: bolder;
}

.caixa-img-relatorio{
    height: 20vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.caixa-img-relatorio img{
    height: 10vh;
}

