    /* Copie daqui até... */
    body {
        margin: 0;
        padding: 0;
        border: 0;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
        color: white;
        background-color: #17141d;
    }

    #menu {
        position: fixed;
        top: 0;
        left: -19vw;
        /* Começa fora da tela */
        width: 19vw;
        height: 100%;
        background: #06050d;
        color: white;
        transition: left 0.3s ease;
        /* Animação suave */
        z-index: 1000;
        border-top-right-radius: 30px;
        border-bottom-right-radius: 30px;
    }

    #menu a {
        text-decoration: none;
        color: #ffffff;
    }

    #menu ul {
        list-style: none;
        padding-left: 2.5vw;
        height: 30vh;
        margin-top: 13vh;
    }

    #menu ul li {
        margin: 25px 0;
    }

    #imgCloseButton img {
        height: 10px;
    }

    #menu.open {
        left: 0;
        /* Move para dentro da tela */
    }

    #div-fechar-menu {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 1.5vw;
        height: 12vh;
    }

    .imgMenu {
        height: 7vh;
    }

    #imgLogo {
        height: 4.5vh;
    }

    #div-usuario {
        height: 15vh;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 2vw;
    }

    #div-usuario p {
        font-weight: bolder;
    }

    #img-usuario {
        height: 50px;
        width: 50px;
        border-radius: 50px;
        background-color: blue;
    }

    #div-configuracao {
        padding-top: 5vh;
        height: 15vh;
        display: flex;
        justify-content: center;
        align-items: center;

    }

    #div-configuracao img {
        height: 5vh;
    }

    #caixa-config {
        height: fit-content;
        width: fit-content;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 1.5vw;

    }

    #div-nav {
        height: 12vh;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin: 0px 30px 0px 25px;
    }

    #caixa-nav {
        display: flex;
        flex-direction: row;
        height: 100%;
        align-items: center;
        gap: 8vw;
    }

    #caixa-nav h1 {
        font-size: 15pt;
    }

    /* ...Aqui, para pegar o menu e a "navzinha" */

    .box-cadastro {
        width: 100vw;
        height: 85vh;
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .formCadastro {
        width: 50vw;
        height: 70vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: left;
    }

    .formCadastro span {
        font-size: 1.2rem;
    }

    /* .infoFunc {
        width: 50%;
        height: 65vh;
        background-color: #A6A6A6;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    } */

    .formCadastro input {
        background-color: #D9D9D9;
        width: 20vw;
        height: 5vh;
        border-radius: 10px;
        font-size: 2.5vh;
    }

    .inputForm {
        display: flex;
        gap: 1.5vh;
        justify-content: center;
        flex-direction: column;
    }

    .cadastrarFunc {
        width: 9vw;
        display: flex;
        align-items: center;
        margin-top: 3vh;
        background-color: #1B1EE5F7;
        color: white;
        font-size: 1.2rem;
        text-align: center;
        justify-content: center;
        height: 6vh;
        border: none;
        cursor: pointer;
    }

    .cadastrarFunc:disabled {
        background-color: #ccc;
        cursor: not-allowed;
    }

    .select-acesso {
        background-color: #D9D9D9;
        width: 20.5vw;
        height: 5.5vh;
        border-radius: 10px;
        font-size: 2.5vh;
    }

    .codigoAtivacao {
        display: flex;
        height: 7vh;
        align-items: center;
        justify-content: space-between;
    }

    .codigoAtivacao .select-acesso {
        width: 7vw;
    }

    .codigoAtivacao .cadastrarFunc {
        margin-top: 0vh;
        height: 5vh;
        border-radius: 10px;
        background-color: #136222;
        font-size: 2.2vh;
    }

    /* .container {
        display: grid;
        grid-template-columns: repeat(6, 1fr); 
        gap: 10px; 
        padding: 20px;
       
    } */

    /* .funcionario {
        background-color: #D9D9D9;
        color: black;
        border-radius: 5px;
        text-align: center;
        padding: 3px;
        display: flex;
        align-items: center;
        justify-content: center;

        img {
            cursor: pointer;
        }
    } */


    /* .dadosInformativos {

        display: grid;
        grid-template-columns: repeat(6, 1fr);
        gap: 29px;
        background-color: #D9D9D9;
        color: black;
        padding: 15px;
        font-size: 1rem;
        font-weight: bold;
        width: 45vw;
        margin-left: 2vh;
        
       

    } */


    /* .container img {
        width: 2.4vw;
        cursor: pointer;
    } */



    /* .testNome{
        margin-left:2vh
    } */



    /* TESTEEEEEEEEEEEEE */
    .funcionario_cadastrado {
        height: 88vh;
        width: 50vw;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .funcionario_cadastrado h2 {
        font-size: 25pt;
        font-weight: 400;

    }

    #div_select_tipoEmpresa{
        display: flex;
        width: 80%;
        flex-direction: row;
        justify-content: space-around;
        align-items: center
    }

    #div_select_tipoEmpresa select{
        width: 15vw;
    }

    .funcionario {
        z-index: 0;
        position: fixed;
        background-color: #312c42;
        border-radius: 10px;
        height: 12vh;
        width: 37vw;
        display: flex;
        text-align: center;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        margin-top: 2vh;
    }

    #div_lista_empresas {
        /* gap: 2vh; */
        width: 40vw;
        height: 65vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #1f1b2e;
        border-radius: 10px;
        overflow-y: auto;
        /* Permitir rolagem vertical */
        overflow-x: hidden;
        /* Evitar rolagem horizontal */
    }

    /* Barra de rolagem para Webkit */
    #div_lista_empresas::-webkit-scrollbar {
        width: 8px;
    }

    #div_lista_empresas::-webkit-scrollbar-track {
        background: #06050d;
    }

    #div_lista_empresas::-webkit-scrollbar-thumb {
        background-color: #888;
        border-radius: 10px;
        border: 2px solid #06050d;
    }


    #info_funcionario {
        padding-top: 10px;
        margin-left: 10px;
        height: 10vh;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        text-align: center;
        padding-right: 2vw;
    }

    #info_funcionario #nome-func {
        display: flex;
        font-weight: 400;
        font-size: 3vh;
        color: #ffffff;
    }

    #info_funcionario #cargo-func {
        font-weight: 400;
        font-size: 2.5vh;
        color: #c1bebe;
    }

    #info_funcionario #tipo-empresa {
        font-weight: 400;
        font-size: 2vh;
        color: #8a8989;
    }


    /* #img_editar {
        border-top-right-radius: 30px;
        border-bottom-right-radius: 30px;
        height: 100%;
        width: 20%;
        display: flex;
        justify-content: center;
        align-items: center;
    } */

    .funcionario img {
        width: 3vw;
        height: 6vh;
    }

    .sombra {
        z-index: 4;
        position: fixed;
        background-color: #000;
        width: 100vw;
        height: 100vh;
        opacity: 90%;
        display: none;
    }

    .modal {
        z-index: 5;
        background-color: #1f1b2e;
        position: fixed;
        top: 8%;
        left: 31%;
        height: 80vh;
        width: 30vw;
        display: none;
        padding: 0 30px 30px 30px;
        border-radius: 15px;
        box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5); /* Sombra na parte de baixo */
    }

    .img_voltar{
        display: flex;
        text-align: center;
        justify-content: flex-start;
        width: 110%;
        
    }
    
    .modal .formCadastro {
        width: 100%;
        height: 100%;
        gap: 2vh;
    }
    
    .modal .formCadastro input,
    .modal .formCadastro select {
        height: 5vh;
    }
    
    .modal .formCadastro h1 {
        text-align: center;
        margin-left: 10.5vw;
        /* margin: 0px 0px 0px 0px */
    }
    
    .modal .formCadastro .img_voltar{
        align-items: center;
        /* justify-content: flex-start; */
        height: 8vh;
    }
    
    .modal .formCadastro .img_voltar img {
        rotate: 90deg;
        cursor: pointer;
    }
    
    .div-botoes{
        display: flex;
        flex-direction: row;
        gap: 2vw;
    }